[submodule "references/cognee"]
	path = references/cognee
	url = https://github.com/vnp-community/cognee.git
[submodule "references/graphiti"]
	path = references/graphiti
	url = https://github.com/vnp-community/graphiti.git
[submodule "references/memobase"]
	path = references/memobase
	url = git@github.com:memodb-io/memobase.git 
[submodule "references/OpenViking"]
	path = references/OpenViking
	url = https://github.com/vnp-community/OpenViking.git
[submodule "references/supermemory"]
	path = references/supermemory
	url = git@github.com:supermemoryai/supermemory.git
[submodule "references/zep"]
	path = references/zep
	url = https://github.com/vnp-community/zep.git
